[Unit]
Description=Start incremental title classification every Monday and Thursday

[Timer]
OnCalendar=Mon,Thu *-*-* 03:00:00 UTC
Persistent=true
Unit=sun-data-title-classification-weekly.service

[Install]
WantedBy=timers.target
